
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(135deg, #1d5aca, #3f51b5);
    padding: 0.5rem 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.navbar-logo h2 {
    color: white;
}

.nav-links {
    display: flex;
    gap: 1.5rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.burger-menu .line {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px;
    transition: all 0.3s ease;
}

.burger-menu.open .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.burger-menu.open .line:nth-child(2) {
    opacity: 0;
}

.burger-menu.open .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}


@media (max-width: 768px) {
    .nav-links {
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #333;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
    }

    .nav-links.open {
        transform: translateX(0);
    }

    .burger-menu {
        display: flex;
    }
}

.download-btn {
    padding: 10px 20px;
    font-size: 16px;
    color: white; 
    background: linear-gradient(135deg, #3f51b5, #5c6bc0); 
    border: none;
    border-radius: 5px; 
    cursor: pointer; 
    transition: background 0.3s ease, transform 0.2s ease;
    margin-top: 20px; 
}

.download-btn:hover {
    background: linear-gradient(135deg, #303f9f, #3949ab); 
    transform: scale(1.05);
}
