
.weather-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, #a3c1e0, #f1f6f9); 
    height: 100vh; 
    font-family: 'Arial', sans-serif;
    padding: 20px;
    text-align: center; 
  }
  
  
  .weather-container h2 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  
  .input-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
  }
  
  
  .weather-input {
    padding: 10px;
    font-size: 1.1rem;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 250px;
    outline: none;
    transition: border 0.3s ease;
  }
  
  .weather-input:focus {
    border-color: #3b82f6;
  }
  
 
  .weather-button {
    padding: 10px 20px;
    font-size: 1.1rem;
    color: #fff;
    background-color: #3b82f6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .weather-button:hover {
    background-color: #2563eb;
  }
  
  .error-message {
    color: #e74c3c;
    font-weight: bold;
    margin-top: 10px;
  }
  
 
  .weather-info {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 20px;
  }
  
  .weather-info h3 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 15px;
  }
  
  .weather-info p {
    font-size: 1.2rem;
    color: #555;
    margin: 5px 0;
  }
  

  @media (max-width: 768px) {
    .weather-container {
      padding: 10px;
    }
  
    .weather-container h2 {
      font-size: 2rem;
    }
  
    .weather-input {
      width: 80%
    }
  
    .weather-button {
      width: 80%
    }
  
    .weather-info {
      width: 90%;
    }
  
    .weather-info h3 {
      font-size: 1.5rem;
    }
    .weather-info p {
      font-size: 1rem;
    }
  }
  